
<!DOCTYPE html>
<html lang="en">
	<head>
		<style>
		html, 
		body {
			margin: 0;
			padding: 0;
			font-family: 'Ubuntu', sans-serif;
			font-size: 22px;
		}
		.boxed {
			  border: 1px solid green ;
			  padding: 4px;
		}
		</style>
	</head>
	<body>
		<form method="post" action="/" enctype="multipart/form-data"> 
			<!-- <input type="file" name="fileupload" value="fileupload" id="fileupload"> 
			<label for="fileupload"> Select a file to upload</label> 
			<input type="submit" value="submit">  -->
			<dl>
				<p>
					<input type="file" name="file" autocomplete="off" required>
				</p>
			</dl>
			<p>
				<input type="submit" value="Submit">
			</p>
		</form>
	</body>

	
</html>