
<!DOCTYPE html>
<html lang="en">
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<style>
		html, 
		body {
			margin: 0;
			padding: 0;
			font-family: 'Ubuntu', sans-serif;
			font-size: 22px;
		}
		.boxed {
			  border: 1px solid green ;
			  padding: 4px;
		}
		</style>
	</head>
	<body>
		
		<form method="post" action="/upload_file" enctype="multipart/form-data"> 
			<dl>
				<p>
					<input type="file" name="file" autocomplete="off" required>
				</p>
			</dl>
			<p>
				<input type="submit" value="Submit">
			</p>
		</form>
		<div  style="width: 30%; float:left; height:600px; background:gray; margin:10px">
			<embed src= {{ url_for('static', filename='uploads/'+ file_name ) }} type="application/pdf" width="100%" height="600px" />
		</div>
		<div class="boxed" style="overflow: auto; width: 30%; float:left; height:590px; background:rgb(255, 255, 255); margin:10px">
					<!-- <textarea name="editor1" id="editor1" rows="53" cols="68"> -->
						{{ text_ocr }}
					<!-- </textarea> -->
		</div>
		<div class= "boxed" name="edit" id="edit" style="overflow: auto;width: 30%; float:left	; height:590px; background:rgb(255, 255, 255); margin:10px" contenteditable="true">
				<!-- <textarea name="editor2" id="editor2" rows="53" cols="68"> -->
				<!-- </textarea>	 -->
				{{text_edit}}
		</div>
		<form action="/saveFile" method="post">
			<input class="btn-summit" type="submit" value="Save to Database"/>
		</form>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				$(".btn-summit").click(function(){
					content = $("#edit").text();
					alert(content);
				});
			});
		</script>
	</body>
</html>