<!DOCTYPE html>
<html lang="en">
	<head>
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->

        <style>
            table{
                width: 90%;
                height: 300px;
            }
            table,th,td {
                border: 1px solid black;
            }
        </style>
	</head>
	<body>
        <div style="margin: 30px;">
            {% if count==0 %}
            <p style="color:rgb(255, 0, 0); ">
                <font size="15">Không tìm được tài liệu nào!</font>
            </p>
            {% else %}
            <table id='table' style="margin: auto;background-color:rgb(225, 225, 225); color:rgb(0, 0, 0)">
                <thead>
                <th style="width: 10%; text-align: center;">STT</th>
                <th style="width: 10%; text-align: center;">File Name</th>
                <th style="width: 80%; text-align: center;">Contents</th>

                </thead>
                <tbody style="overflow-x: scroll;">
                {% for i in range(0,count) %}
                <tr>
                    <td style="text-align: center;">{{i+1}}</td>
                    <td style="text-align: center;"><a style="color: #0b75c9"
                            href="/view_origin/{{filenames[i]}}">{{filenames
                        [i]}}</a></td>
                        <td style="padding-left: 10px;text-align: justify;padding-right: 10px;"><p
                                style="color: black;">{{contents[i]|safe}}
                            <p></td>
<!--                        <td><a href="/view_origin/{{filenames[i]}}"><input type="button" value="View Origin File"/></a>-->
<!--                        </td>-->
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </body>
</html>