<!DOCTYPE html>
<html lang="en">
	<head>
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
        <script src="/static/js/jquery-3.4.1.min.js"></script>
        <link href="/static/css/bootstrap.css" rel="stylesheet">
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <style>
            table{
                width: 90%;
                height: 300px;
            }
        </style>
	</head>
	<body>
        <p>Result : </p>
        <div >
            <table id='table' align="center">
                <thead>
                    <th>STT</th>
                    <th>File Name</th>
                    <th>Contents</th>
                </thead>
                <tbody style="overflow-x: scroll;">
                    {% for i in range(0,count) %}
                    <tr>
                        <td>{{i}}</td>
                        <td>{{filenames[i]}}</td>
                        <td>{{contents[i]}}</td>
                        <td><a href="/viewOrigin/{{filenames[i]}}"><input type="button" value="View Origin File" /></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>