

<!DOCTYPE html>
<html lang="en">
	<head>
      <title>eDocMan-Hệ thống quản lý tài liệu điện tử</title>
      <link href="../static/css/Content/all.css" rel="stylesheet">
      <script type="text/javascript" src="../static/js/Scripts/jquery-1.12.4.js"></script>
      <script src="../static/js/Scripts/bootstrap.min.js"></script>
      <script type="text/javascript" src="../static/js/Scripts/jquery.dataTables.min.js"></script>
      <script type="text/javascript" src="../static/js/Scripts/dataTables.bootstrap.min.js"></script>
      <script type="text/javascript" src="../static/js/Scripts/dropzone.js"></script>
      <script type="text/javascript" src="../static/js/Scripts/docmanager.js"></script>
      <script src="../static/js/Scripts/select2.js"></script>
      <link href="../static/css/Content/select2.css" rel="stylesheet">
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     
  
      <link href="../static/css/Content/bootstrap.css" rel="stylesheet">
      <link href="../static/css/Content/style_manager.css" rel="stylesheet">
      <link href="../static/css/Content/site.css" rel="stylesheet">
      <link href="../static/css/Content/loader.css" rel="stylesheet">
      <link href="../static/css/Content/dropzone.css" rel="stylesheet">
  
	</head>
	<body>
    <div id="mainContent" class="container" style="font-size:2em; color: white;width:100%;background-color:#2196f3;margin-left: -0px;">
        <div class="row" style="width:100%  ;background-color:#2196f3;margin-left: -0px;">
            <div class="col-12" style="font-size: 3em;" onclick="home()">eDocMan-Hệ thống quản lý tài liệu điện tử</div> 
          </div>
      <div class="row" style="width:100%  ;background-color:#2196f3;margin-left: -0px;">
        <div class="col-3"></div>
        <div class="col-6" style="display: flex; justify-content: space-between;">
            <span style="margin-left: 20px;padding-left: 6px;padding-right: 6px; border-style: groove; background-color: #1b4dd4;" onclick="tai1tailieu()">Tải lên một tài liệu</span>
            <span style="margin-left: 20px;padding-left: 6px;padding-right: 6px; border-style: groove; background-color: #1b4dd4;" onclick="tainhieutailieu()" >Tải lên nhiều tài liệu</span>
            <span style="margin-left: 20px;padding-left: 6px;padding-right: 6px; border-style: groove; background-color: #1b4dd4;" onclick="timkiem()">Tìm kiếm</span>
        </div>
        <div class="col-3"></div>
      </div>

      <!-- thay doi noi dung -->
      <div class="row" style="width:100%;margin-left: -0px;background-color: rgb(92, 214, 214); margin-bottom: 10px;">

            <div class="col-lg-10">
                    <div class="form-group" style="padding:15px">
                        <label class="col-lg-3 control-label">Nhập nội dung tìm kiếm</label>
                        <div class="col-lg-9" style="margin-top: 10px;">
                            <input type="text" class="form-control" id="namesearch" placeholder="Nhập nội dung"  style="font-size: 1em;"> </input>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group" style="padding:15px">
                        <div class="col-lg-12">
                            <button class="btn btn-primary" id="btn_check" title="Tìm kiếm" style="font-size: 1em; background-color: #1b4dd4;">
                               Tìm kiếm
                            </button>
                        </div>
                    </div>
                </div>
        
            <div id="load_result"></div>
    </div>
   
  </div>


       
        

	</body>
    <script>  
        function tai1tailieu(){
            window.location.href = "/UploadFile";
        }
        function tainhieutailieu(){  
          window.location.href = "/UploadFiles"; 
        }
        function timkiem(){ 
          window.location.href = "/search";
        }
        function home(){ 
          window.location.href = "/";
        }
        $('#btn_check').off('click').on('click', function () {
            $.ajax({
                type: "POST",
                url: '/searchfile',
                data: { text: $('#namesearch').val() },
            }).done(function (result) {
                $('#load_result').empty();
                $('#load_result').html(result);
                $('#table').DataTable();
            })
        })
    </script>
	
</html>